@model HomeOutputViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Прогнозиране броя хора нужни за тип задача</h4>
        <hr />
        <form id="mlForm" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right mt-2">Месец</label>
                        <div class="col-sm-9">
                            <input id="chosenMonth" type="month" class="form-control mt-2" onchange="count()" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right">Дни в месеца</label>
                        <div class="col-sm-9">
                            <input id="countDays" type="number" class="form-control text-right mt-2" value="@DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month)" readonly />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right">Тип</label>
                        <div class="col-sm-9">
                            <select class="dropdown-item border mt-2 text-right" id="selectAssignment" asp-for="TypeAssignment" asp-items="Html.GetEnumSelectList<TypeAssignment>()" onchange="change()"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right">Минути за обработка</label>
                        <div class="col-sm-9">
                            <input id="minutes" type="number" class="form-control text-right mt-2" value="5" readonly />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right">Брой задачи</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control mt-2" value="0" />
                        </div>
                    </div>
                </div>
            </div>
            <button class="text-light font-weight-bold bg-info ml-4" style="width: 150px" type="submit">Прогноза</button>
        </form>
    </div>
</div>

<div class="card mt-2 p-3">
    <div class="row">
        <label class="col-sm-3 col-form-label text-right mt-2">Брой хора</label>
        <div class="col-sm-9 mt-2">
            <input type="text" class="form-control col-sm-3" readonly />
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded',
        function (e) {
            e.preventDefault();

            const monthField = document.getElementById('chosenMonth');
            addCurrentMonth(monthField);
        })
</script>